/*! HTML5 Boilerplate v8.0.0 | MIT License | https://html5boilerplate.com/ */

/* main.css 2.1.0 | MIT License | https://github.com/h5bp/main.css#readme */
/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */
@font-face {
  font-family: "Neutra Text";
  src: url("../fonts/NeutraText-Book.otf") format("opentype");
}
@font-face {
  font-family: "Abril Fatface";
  src: url("../fonts/AbrilFatface-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "Stylish Calligraphy";
  src: url("../fonts/StylishCalligraphy.ttf") format("truetype");
}

html {
  color: #222;
  font-size: 1em;
  line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Vendor-prefixed and regular ::selection selectors cannot be combined:
 * https://stackoverflow.com/a/16982510/7133471
 *
 * Customize the background color to match your design.
 */

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
  resize: vertical;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden,
[hidden] {
  display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 *
 * 1. For long content, line feeds are not interpreted as spaces and small width
 *    causes content to wrap 1 word per line:
 *    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
 */

.sr-only {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px;
  /* 1 */
}

/*
 * Extends the .sr-only class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.sr-only.focusable:active,
.sr-only.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  white-space: inherit;
  width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
  visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix::before,
.clearfix::after {
  content: " ";
  display: table;
}

.clearfix::after {
  clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
  /* Style adjustments for viewports that meet the condition */
}

@media print,
  (-webkit-min-device-pixel-ratio: 1.25),
  (min-resolution: 1.25dppx),
  (min-resolution: 120dpi) {
  /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   https://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
  *,
  *::before,
  *::after {
    background: #fff !important;
    color: #000 !important;
    /* Black prints faster */
    box-shadow: none !important;
    text-shadow: none !important;
  }

  a,
  a:visited {
    text-decoration: underline;
  }

  a[href]::after {
    content: " (" attr(href) ")";
  }

  abbr[title]::after {
    content: " (" attr(title) ")";
  }

  /*
   * Don't show links that are fragment identifiers,
   * or use the `javascript:` pseudo protocol
   */
  a[href^="#"]::after,
  a[href^="javascript:"]::after {
    content: "";
  }

  pre {
    white-space: pre-wrap !important;
  }

  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }

  /*
   * Printing Tables:
   * https://web.archive.org/web/20180815150934/http://css-discuss.incutio.com/wiki/Printing_Tables
   */
  thead {
    display: table-header-group;
  }

  tr,
  img {
    page-break-inside: avoid;
  }

  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }

  h2,
  h3 {
    page-break-after: avoid;
  }
}

/* my shit */
body{
  margin:0;
}
h1,h2,.h2-overline{
  font-family: "Abril Fatface";
  font-weight:400;
  line-height: 100%;
  color:#2F3446;
  margin:0;
}
h1{
  font-size: 6rem;
}
h2{
  font-size:3rem;
  margin:1rem;
}
h3{
  font-family: "Neutra Text";
  font-size:1.5rem;
  letter-spacing: .2rem;
  font-weight: 700;
  text-transform:uppercase;
  color:#fff;
  margin-top:2rem;
}

main{
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
}
.gradient{
  background: linear-gradient(180deg, #FFFFFF 26.04%, #9B6750 67.19%, #152A3E 91.15%);
}

#saturday .gradient{
  background: linear-gradient(180deg, #FFFFFF 26.04%, #D5E7F3 67.19%, #517BA3 91.15%);
}

.contentContainer{
  max-width:25rem;
  margin:0 auto;
  text-align:center;
}

.page{
  height:100vh;
  display: flex;
  align-content: center;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  float:left;
  width:100%;
}

.page-subtitle{
  font-family: "Stylish Calligraphy";
  font-size:3rem;
  padding-left:3rem;
  margin-top:-1.5rem;
  color: #D49860;
}
.h2-overline{
  color: #D49860;
  font-size:1.5rem;
}
p{
  font-family: "Neutra Text";
  color:rgba(47, 52, 70, 0.6);
  margin-bottom:4rem;
  font-size:1.3rem;
}
.scroll-down{
  color:rgba(47, 52, 70, 0.4);
  text-transform:uppercase;
  padding-top:60%;
}
#num5 h2,
#num4 h2,
#num6 h2{
  color:#fff;
}
#num6 p,
#num5 p,
#num4 p{
  color:rgba(255,255,255,.8);
}

.icon-holder{
  margin-bottom:5rem;
  position:relative;
}
.circle{
  width:17rem;
  height:17rem;
  border-radius: 50%;
  -moz-border-radius: 50%;
  background:#fff;
}

button{
  font-family: "Neutra Text";
  text-transform: uppercase;
  background:none;
  color:#D49860;
  border:2px solid #D49860;
  border-radius:4px;
  padding:1rem 2rem;
  font-size:2rem;
  font-weight:bold;
  letter-spacing:.5rem;
  transition:all ease-in-out .3s;
}

button:hover{
  background:#D49860;
  color:#152A3E;
  cursor: pointer;
}

.icon-holder img{
  position:absolute;
}

#moon {
  left: 4.5rem;
  top: 3.5rem;
}
#dinner{
  left:2rem;
  bottom:1.8rem;
}
#pergola{
  left:3.5rem;
  top:4rem;
}
#checkin{
  left:5.5rem;
  top:2.5rem;
}
#venue{
  left:2.5rem;
  top:1.5rem;
}

#sun{
  left:1.6rem;
  top:1.6rem;
}
#tie{
  left:2.6rem;
  top:6rem;
}
#retie{
  left:2.5rem;
  top:5.6rem;
}
#camera{
  left:3.2rem;
  top:4.5rem;
}
#shenanigans{
  left:4.1rem;
  top:3rem;
}
#makeup{
  left:6.5rem;
  top:2.5rem;
}
#shuttle{
  left:2.7rem;
  top:5rem;
}

/* Location Selector
 */

.locationContainer{
}
.location{
  display:inline-block;
  width:12rem;
  height:12rem;
  border:2px solid #D49860;
  border-radius:50%;
  font-family: "Abril Fatface";
  margin:0 -1rem;
  color:#D49860;
  font-size: 1.5rem;
  line-height: 12rem;
}
.location:hover{
  background:#D49860;
  color:#FFFFFF;
  transition: all ease-in-out .3s;
}
a{
  text-decoration:none;
}
/* FAB Menu */

.navigation__checkbox {
  display: none;
}

.navigation__button {
  position: fixed;
  bottom: 1.5rem;
  right: 1.5rem;
  height: 4rem;
  width: 4rem;
  text-align: center;
  background-color: #fff;
  border-radius: 50%;
  z-index: 300;
  cursor: pointer;
}


.navigation__background {
  position: fixed;
  bottom: 2rem;
  right: 2rem;
  height: 3rem;
  width: 3rem;
  border-radius: 50%;
  background: #D49860;
  background-size: cover;
  background-position: center;
  z-index: 100;
  transition: all 500ms cubic-bezier(0.86, 0, 0.07, 1);
}

.navigation__nav {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  opacity: 0;
  width: 0;
  visibility: hidden;
  z-index: 200;
  transition: all 800ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.navigation__list {
  /*@include center;*/
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  width: 100%;
  list-style: none;
}

.navigation__item {
  margin: 1rem;
}

.navigation__link:link,
.navigation__link:visited {
  display: inline-block;
  padding: 1rem 2rem;
  text-transform: uppercase;
  color: #f4f4f4;
  font-size: 2.4rem;
  text-decoration: none;
  transition: all .2s;
}

.navigation__link span {
  margin-right: 1.5rem;
  display: inline-block;
}

.navigation__link:hover {
  color: #D49860;
  transform: scale(1.1);
}

.navigation__checkbox:checked~.navigation__background {
  transform: scale(80)
}

.navigation__checkbox:checked~.navigation__nav {
  width: 100%;
  visibility: visible;
  opacity: 1;
}

.navigation__icon {
  background: url("../img/share-photos.svg");
  position: relative;
  margin-top: 1rem;
  height:2rem;
  width:2rem;
}
.navigation__icon,
.navigation__icon::before,
.navigation__icon::after {
  display: inline-block;
}

.navigation__icon::before,
.navigation__icon::after {
  content: '';
  position: absolute;
  left: 0;
  transition: all 200ms;
}

.navigation__checkbox:checked+.navigation__button .navigation__icon {
  background: url("../img/close-photos.svg");
}

.navigation__checkbox:checked+.navigation__button .navigation__icon::before {
  top: 0;
  transform: rotate(135deg);
}

.navigation__checkbox:checked+.navigation__button .navigation__icon::after {
  top: 0;
  transform: rotate(-135deg);
}
.nav-content{
  margin-top:30%;
}
.nav-content button{
  border-color:#2F3446;
  color:#2F3446;
  margin-top:30%;
}
.nav-content button:hover{
  background:#2F3446;
  color:#D49860;
}
.wedding-party{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(1, 1fr);
  grid-column-gap: 2rem;
  grid-row-gap: 48px;
  padding-top:2rem;
}
.team-groom{
  text-align:right;
}
.team-bride{
  text-align: left;
}
.wedding-party h2{
  margin:0;
  padding-bottom:1rem;
}
h4{
  font-family: "Abril Fatface";
  font-size:1.25rem;
  color:#2F3446;
  padding:0;
  margin:0;
}
.h4-underline{
  font-family: "Neutra Text";
  font-size: 1.2rem;
  text-transform: uppercase;
  color:#8a8a8a;
}
.person{
  margin:2rem 0;
}

.bridegroom .location{
  font-size:2.2rem;
}
.address{
  font-family: "Abril Fatface";
  font-size: 1.2rem;
  text-transform: uppercase;
  letter-spacing: .3rem;
  line-height: 1.5;
  color:#D49860;
  margin-top:4rem;
}
#cocktail{
  left:4.9rem;
  top:3rem;
}
#dance{
  left:3.8rem;
  top:4.8rem;
}
#reception{
  left:3.5rem;
  top:3.8rem;
}
#party{
  top:1.7rem;
  left:2.2rem;
}
#cheesecake{
  left:4.2rem;
  top:4.5rem;
}
